/* @import './base.css'; */

@import url('https://fonts.google.com/share?selection.family=Roboto:wght@100;400;700');

.container .router-link-active {
    background-color: white;
    color: black;
}



#app {
  font-family: 'Roboto', sans-serif;
}